@(product: Product)

<table aria-describedby="products">
    <tr>
        <th id="id">ID</th>
        <th id="name">Name</th>
        <th id="description">Description</th>
        <th id="categoryId">Category ID</th>
        <th id="price">Price</th>
    </tr>
    <tr>
        <td id="id">@product.id</td>
        <td id="name">@product.name</td>
        <td id="description">@product.description</td>
        <td id="categoryId">@product.categoryId</td>
        <td id="price">@product.price</td>
    </tr>
</table>