@(promotion: Form[UpdatePromotionForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.PromotionController.updateHandle) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@promotion("id").value" type="hidden" />
    @inputText(promotion("name"))
    @inputText(promotion("flagActive"))
    @inputText(promotion("productId"))
    @inputText(promotion("percentageSale"))

    <div class="buttons">
        <input type="submit" value="Update promotion"/>
    </div>

}