<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>hey</title>
    </head>
    <body>
        <a href="@controllers.routes.CartController.list()">Carts</a>
        <a href="@controllers.routes.CategoryController.list()">Categories</a>
        <a href="@controllers.routes.InvoiceController.list()">Invoices</a>
        <a href="@controllers.routes.OrderController.list()">Orders</a>
        <a href="@controllers.routes.OrderProductsController.list()">Order Products</a>
        <a href="@controllers.routes.ProductController.list()">Products</a>
        <a href="@controllers.routes.PromotionController.list()">Promotions</a>
        <a href="@controllers.routes.ReviewController.list()">Reviews</a>
        <a href="@controllers.routes.StockController.list()">Stock</a>
        <a href="@controllers.routes.UserController.list()">Uses</a>
        <a href="@controllers.routes.WishlistController.list()">Wishlists</a>
    </body>
</html>