@(orders_products: Seq[OrderProducts])

<table aria-describedby="orders_products">
    <tr>
        <th id="id">ID</th>
        <th id="orderId">Order ID</th>
        <th id="productId">Product ID</th>
        <th id="quantity">Quantity</th>
    </tr>
    @for(order_products <- orders_products) {
        <tr>
            <td>@order_products.id</td>
            <td>@order_products.orderId</td>
            <td>@order_products.productId</td>
            <td>@order_products.quantity</td>
        </tr>
    }
</table>